<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="wrapper">
    <div id="header">
        <img src="../img/logo.webp" alt="nama logo">
        
        <!-- menu -->
        <ul id="menu-utama">
            <li><a href="index.html">home</a></li>
            <li><a href="#">nasional</a></li>
            <li><a href="#">internasional</a></li>
            <li><a href="#">ekonomi</a></li>
        </ul>

        <!-- form seacrh -->

        <form action="#">
            <input type="text" name="search" id="">
        </form>
    </div>
        <div id="content">
            <div class="sub-artikel">
            <h6 style="font-size: larger;">Usul Hak Angket Pemilu di DPR, Antara Pengawasan dan Tendensi Politik</h6>
            <a href>CNN Indonesia</p>
            <h6 >Rabu, 06 Mar 2024 13:56 WIB</h2>
            <img src="../img/gambar7.jpeg" alt="gambar7"

            <p>Anggota DPR yang mengusulkan hak angket itu berasal dari partai pengusung capres dan cawapres Anies Baswedan-Muhaimin Iskandar serta Ganjar Pranowo-Mahfud MD di Pilpres 2024. Partai lainnya yaitu NasDem dan PPP, tak ikut bersuara dalam rapat.
            </p>

            <p>Dalam interupsinya, Luluk Nur Hamidah dari Fraksi PKB mengatakan tak pernah melihat proses pemilu sebrutal kali ini. Ia menilai angket perlu digulirkan untuk memberikan kepastian kalau proses pemilu sepenuhnya dijalankan berdasarkan daulat rakyat
            </p>
        </div>
    <div id="sidebar">
    <h2>siapa kamu?</h2>
    <p>kami adalah mahasiswa plj yang sedang membuat portal html</p>

    <h2>artikel bedasarkan artikel</h2>
    <ul>
        <li><a href="">olahraga</a></li>
        <li><a href="">politik</a></li>
        <li><a href="">makanan</a></li>
    </ul>
</div>
<div id="footer">
<p>@ copyright</p>

    </div>
</div>
</body>
</html>