<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="wrapper">
    <div id="header">
        <img src="../img/logo.webp" alt="nama logo">
        
        <!-- menu -->
        <ul id="menu-utama">
            <li><a href="index.html">home</a></li>
            <li><a href="#">nasional</a></li>
            <li><a href="#">internasional</a></li>
            <li><a href="#">ekonomi</a></li>
        </ul>

        <!-- form seacrh -->

        <form action="#">
            <input type="text" name="search" id="">
        </form>
    </div>
        <div id="content">
            <div class="sub-artikel">
                <h6 style="font-size: larger;">Kapal Rute Jakarta-Lombok Karam di Selayar, 24 Orang Hilang</h6>
                <a href>Syahrul Ramadan | CNN Indonesia</p>
                <h6 >Rabu, 13 Mar 2024 08:39 WIB</h2>
                <img src="../img/gambar9.jpeg" alt="gambar9"

                <p>Kepala Kantor Basarnas Makassar, Mexianus Bekabel mengatakan bahwa pada Senin (11/3) kemarin, ditemukan dua orang terdampar di Pulau Jampea, Kabupaten Selayar, dalam kondisi selamat dan meninggal dunia.</p>

                <p>"Kemudian 9 orang ditemukan selamat dan 1 orang meninggal dunia di Pulau Kayuadi, Kabupaten Kepulauan Selayar," kata Mexianus, Selasa (12/3).</p>
           
        </div>
        </div>
    <div id="sidebar">
    <h2>Apa yang kamu butuhkan</h2>
    <p>Halo saya adalah mahasiswa plj yang sedang membuat portal html</p>

    <h2>Artikel ini bedasarkan CNN</h2>
    <ul>
        <li><a href="">olahraga</a></li>
        <li><a href="">politik</a></li>
        <li><a href="">makanan</a></li>
    </ul>
</div>
<div id="footer">
<p>@ copyright</p>

    </div>
</div>
</body>
</html>