<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="wrapper">
    <div id="header">
        <img src="../img/logo.webp" alt="nama logo">
        
        <!-- menu -->
        <ul id="menu-utama">
            <li><a href="index.html">home</a></li>
            <li><a href="#">nasional</a></li>
            <li><a href="#">internasional</a></li>
            <li><a href="#">ekonomi</a></li>
        </ul>

        <!-- form seacrh -->

        <form action="#">
            <input type="text" name="search" id="">
        </form>
    </div>
        <div id="content">
            <div class="sub-artikel ">
                <h6 style="font-size: larger;">Penerima KJMU Dibayangi Ancaman Putus Kuliah</h6>
                <a href>Syahrul Ramadan | CNN Indonesia</p>
                <h6 >Rabu, 13 Mar 2024 13:56 WIB</h2>
                <img src="../img/gambar8.jpeg" alt="gambar8"

            <p>Senin (4/3) pekan lalu, gawai Puteri ramai notifikasi. Grup WhatsApp pengurus KJMU di kampusnya penuh keluhan. Mereka mengeluhkan Data Terpadu Kesejahteraan Sosial (DTKS) tiba-tiba berubah menjadi tidak layak dan tak terdaftar.</p>

            <p>Puteri pun segera mengecek DTKS di laman p4op.jakarta.go.id/kjmu. Hasilnya, dia dinyatakan tidak layak menerima KJMU dengan pemeringkatan kesejahteraan (desil) 6.</p>
        </div>
    <div id="sidebar">
    <h2>siapa kamu?</h2>
    <p>kami adalah mahasiswa plj yang sedang membuat portal html</p>

    <h2>artikel bedasarkan artikel</h2>
    <ul>
        <li><a href="">olahraga</a></li>
        <li><a href="">politik</a></li>
        <li><a href="">makanan</a></li>
    </ul>
</div>
<div id="footer">
<p>@ copyright</p>

    </div>
</div>
</body>
</html>