<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website sederhana</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="wrapper">
    <div id="header">
        <img src="../img/logo.webp" alt="nama logo">
        
        <!-- menu -->
        <ul id="menu-utama">
            <li><a href="#">home</a></li>
            <li><a href="#">nasional</a></li>
            <li><a href="#">internasional</a></li>
            <li><a href="#">ekonomi</a></li>
        </ul>

        <!-- form seacrh -->

        <form action="#">
            <input type="text" name="search" id="">
        </form>
    </div>
        <div id="content">
            <div class="artikel">
            <img src="../img/logo1.jpeg" alt="gambar artikel">
            <h2>rapat pertemuan pilpres</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem tenetur minima porro necessitatibus. Hic cum nemo iste voluptates voluptas ipsum error dolorum, laboriosam aliquid, dignissimos repudiandae. Culpa consequatur quisquam ullam?</p>
            <a href="artikel1.html">baca selengkapnya ...</a>
        </div>

        
            <div class="artikel">
            <img src="../img/monas.jpeg" alt="gambar monas">
            <h2>icon ibu kota jakarta monas</h2>
            <p>The National Monument
                (locally known as Monas) is one of the most popular tourist attractions in
                Jakarta, a 132 m tower topped by a 14.5 ton, gold plated bronze flame,
                situated at the heart of Merdeka Square. It was built to commemorate the struggle for Indonesian
                independence, and a good place to get a grasp of Indonesian history.  Its
                construction was equally historic, spanning two presidents and surviving a coup. </p>
            <a href="artikel2.html">baca selengkapnya ...</a>
        </div>

       
            <div class="artikel">
            <img src="../img/capres.jpeg" alt="gambar capres">
            <h2>pertemuan pilpres</h2>
            <p>Masa pemilihan umum Presiden dan Wakil Presiden diatur dalam Pasal 6A dan Pasal 22E Undang-Undang Dasar Negara Republik Indonesia Tahun 1945. Pemilihan umum Presiden dan Wakil Presiden dilakukan dengan dua putaran apabila pada putaran pertama tidak ada pasangan calon yang memperoleh lebih dari 50% suara dengan sedikitnya 20% suara yang tersebar di lebih dari setengah provinsi di Indonesia. Hingga saat ini, pemilihan umum Presiden dan Wakil Presiden dua putaran hanya pernah terjadi pada</p>
            <a href="artikel3.html">baca selengkapnya ...</a>
        </div>
        </div>
    <div id="sidebar">
    <h2>Apa yang kamu butuhkan?</h2>
    <p>Kami adalah mahasiswa plj yang sedang membuat portal html</p>

    <h2>Artikel ini bedasarkan dari CNN</h2>
    <ul>
        <li><a href="">olahraga</a></li>
        <li><a href="">politik</a></li>
        <li><a href="">makanan</a></li>
    </ul>
</div>
<div id="footer">
<p>@ copyright</p>

    </div>
</div>
</body>
</html>